#container {
    width: 1200px;
    background-color: #ffcc33;
    margin: auto;
    margin-top: 50px;
}
#first {
    width: 800px;
    float: left;
    height: 600px;
    background-color: white;
}
#second {
    width: 400px;
    float: left;
    height: 600px;
    background-color: #f0ffff;
    overflow-y: auto; 
}
#clear {
    clear: both;
}

h2 {
    text-align: center;
}

.line{
width: 112px;
height: 47px;
border-bottom: 1px solid black;
position: relative;
}